torch
numpy
pandas
addict
pyyaml
plotly
kaleido
seaborn
matplotlib
scikit-learn
yaml_config_override
opencv-contrib-python
ultralytics
git+https://github.com/facebookresearch/sam2.git
joblib
tqdm
torchvision
timm